{% extends "Blog/layout.html" %}
{% block body %}
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <span class="fs-4"> <h2> <strong>DevVers Blog</strong></h2></span>
        </a>
        </header>

        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Welcome to DevVers</h1>
                <p class="col-md-8 fs-4"> Join our community of passionate developers who are here to learn, share and grow together.
                    Explore our extensive collection of tech article, and developers insights. Whether you're a beginner or a seasoned
                    pro, we're here to support your coding journey.<br>Happy coding!
                </p>
                
            </div>
        </div>
        
    </div>
{% endblock %}
{% block footer %}
{% endblock footer %}

