{% extends 'Blog/layout.html' %}
{% load static %}


{% block body %}    
    <style>
        .btn.done{
            background-color: #008080;
        }
        .card-header{
            background-color: #37474f;
        }
    </style>
    <br>
        {% if post %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <figure class="mb-4">
                        {% if post.post_img %}
                            <img src="{{ post.post_img.url }}" class="img-responsive" style="width: 100%; float: center; margin-right: 10px;" />
                        {% else %}
                        
                        {% endif %}
                    </figure>
                    <div class="text-muted fst-italic mb-2">Posted on {{ post.created|date:"M d, Y"}} by {{username|upper}}</div>

                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ post.title | title }}</h1>
                            <br>
                            <!-- Post categories-->
                            {% if post.hashtag %}
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{post.hashtag}}</a>
                            {% endif %}
                        <header>
                        
                        <!-- https://dummyimage.com/900x400/ced4da/6c757d.jpg -->
                            <!-- post content -->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">
                                {{post.content | linebreaks| urlize}}
                            </p>
                            <!-- to bold a text whcih i will lare implement an icon-->
                            <!-- <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2> -->
                        </section>
                    </article>
                    <hr>
                  
                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Post Tags</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">#backend</a></li>
                                        <li><a href="#!">#api</a></li>
                                        <li><a href="#!">#authentication</a></li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        {% else %}
            <h1>This if statement is not working try debugging it</h1>
        {% endif %}
        
  
{% endblock %}